Kerry.KSYS.Scheduler/Connected Services/JOBOperationService/JOBOperation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="JOBOperation" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59228/Operation/JOBOperation.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59228/Operation/JOBOperation.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IJOBOperation_AddCONSOLUNID_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCONSOLUNID" />
  </wsdl:message>
  <wsdl:message name="IJOBOperation_AddCONSOLUNID_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCONSOLUNIDResponse" />
  </wsdl:message>
  <wsdl:message name="IJOBOperation_UpdateCONSOLUNID_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCONSOLUNID" />
  </wsdl:message>
  <wsdl:message name="IJOBOperation_UpdateCONSOLUNID_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCONSOLUNIDResponse" />
  </wsdl:message>
  <wsdl:message name="IJOBOperation_RemoveCONSOLUNID_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCONSOLUNID" />
  </wsdl:message>
  <wsdl:message name="IJOBOperation_RemoveCONSOLUNID_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCONSOLUNIDResponse" />
  </wsdl:message>
  <wsdl:portType name="IJOBOperation">
    <wsdl:operation name="AddCONSOLUNID">
      <wsdl:input wsaw:Action="http://tempuri.org/IJOBOperation/AddCONSOLUNID" message="tns:IJOBOperation_AddCONSOLUNID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJOBOperation/AddCONSOLUNIDResponse" message="tns:IJOBOperation_AddCONSOLUNID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCONSOLUNID">
      <wsdl:input wsaw:Action="http://tempuri.org/IJOBOperation/UpdateCONSOLUNID" message="tns:IJOBOperation_UpdateCONSOLUNID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJOBOperation/UpdateCONSOLUNIDResponse" message="tns:IJOBOperation_UpdateCONSOLUNID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveCONSOLUNID">
      <wsdl:input wsaw:Action="http://tempuri.org/IJOBOperation/RemoveCONSOLUNID" message="tns:IJOBOperation_RemoveCONSOLUNID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJOBOperation/RemoveCONSOLUNIDResponse" message="tns:IJOBOperation_RemoveCONSOLUNID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IJOBOperation" type="tns:IJOBOperation">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddCONSOLUNID">
      <soap:operation soapAction="http://tempuri.org/IJOBOperation/AddCONSOLUNID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCONSOLUNID">
      <soap:operation soapAction="http://tempuri.org/IJOBOperation/UpdateCONSOLUNID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveCONSOLUNID">
      <soap:operation soapAction="http://tempuri.org/IJOBOperation/RemoveCONSOLUNID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JOBOperation">
    <wsdl:port name="BasicHttpBinding_IJOBOperation" binding="tns:BasicHttpBinding_IJOBOperation">
      <soap:address location="http://localhost:59228/Operation/JOBOperation.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>