Kerry.FMS.Scheduler/Service References/CommonOperationServiceReference/CommonOperationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CommonOperationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ICommonOperationService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="CustomBinding_ICommonOperationService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <gzip:GZipEncoding xmlns:gzip="http://schemas.microsoft.com/ws/06/2004/mspolicy/netgzip1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:22107/v1/Common/CommonOperationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:22107/v1/Common/CommonOperationService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Kerry.FMS.Model.ExceptionHandling" />
      <xsd:import schemaLocation="http://localhost:22107/v1/Common/CommonOperationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:22107/v1/Common/CommonOperationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Kerry.FMS.Model.AirExport" />
      <xsd:import schemaLocation="http://localhost:22107/v1/Common/CommonOperationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Kerry.FMS.Model.Core" />
      <xsd:import schemaLocation="http://localhost:22107/v1/Common/CommonOperationService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:22107/v1/Common/CommonOperationService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Kerry.FMS.Model.AirImport" />
      <xsd:import schemaLocation="http://localhost:22107/v1/Common/CommonOperationService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Kerry.FMS.Model.Common" />
      <xsd:import schemaLocation="http://localhost:22107/v1/Common/CommonOperationService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Kerry.FMS.Model.AirExport.Commands" />
      <xsd:import schemaLocation="http://localhost:22107/v1/Common/CommonOperationService.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/Kerry.FMS.Model.Maintenance" />
      <xsd:import schemaLocation="http://localhost:22107/v1/Common/CommonOperationService.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/Kerry.FMS.Model.EDoc" />
      <xsd:import schemaLocation="http://localhost:22107/v1/Common/CommonOperationService.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/Kerry.FMS.DB.Models" />
      <xsd:import schemaLocation="http://localhost:22107/v1/Common/CommonOperationService.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/System.Data.Entity" />
      <xsd:import schemaLocation="http://localhost:22107/v1/Common/CommonOperationService.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/Kerry.FMS.Repository" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICommonOperationService_GetDefaultMilestoneEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDefaultMilestoneEvents" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_GetDefaultMilestoneEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDefaultMilestoneEventsResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_GetDefaultMilestoneEvents_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Kerry.FMS.Model.ExceptionHandling" name="detail" element="q1:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_GetDefaultMilestoneEvents_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Kerry.FMS.Model.ExceptionHandling" name="detail" element="q2:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_GetAirportForLookup_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAirportForLookup" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_GetAirportForLookup_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAirportForLookupResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_GetAirlinesForLookup_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAirlinesForLookup" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_GetAirlinesForLookup_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAirlinesForLookupResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_GetPartyMasterForLookup_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPartyMasterForLookup" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_GetPartyMasterForLookup_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPartyMasterForLookupResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_GetPartyMasterWithAddressForLookup_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPartyMasterWithAddressForLookup" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_GetPartyMasterWithAddressForLookup_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPartyMasterWithAddressForLookupResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_GetPartyMasterWarehouseLookup_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPartyMasterWarehouseLookup" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_GetPartyMasterWarehouseLookup_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPartyMasterWarehouseLookupResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_SoftDeleteJob_InputMessage">
    <wsdl:part name="parameters" element="tns:SoftDeleteJob" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_SoftDeleteJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:SoftDeleteJobResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_SoftDeleteJob_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Kerry.FMS.Model.ExceptionHandling" name="detail" element="q3:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_SoftDeleteJob_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Kerry.FMS.Model.ExceptionHandling" name="detail" element="q4:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_ExecuteConsolOperation_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteConsolOperation" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_ExecuteConsolOperation_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteConsolOperationResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_ExecuteConsolOperation_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/Kerry.FMS.Model.ExceptionHandling" name="detail" element="q5:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_ExecuteConsolOperation_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/Kerry.FMS.Model.ExceptionHandling" name="detail" element="q6:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_GetJobEventOrEventGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJobEventOrEventGroups" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_GetJobEventOrEventGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJobEventOrEventGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_GetJobEventOrEventGroups_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/Kerry.FMS.Model.ExceptionHandling" name="detail" element="q7:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_GetJobEventOrEventGroups_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/Kerry.FMS.Model.ExceptionHandling" name="detail" element="q8:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_GetChargeTemplates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChargeTemplates" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_GetChargeTemplates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChargeTemplatesResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_GetChargeTemplates_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/Kerry.FMS.Model.ExceptionHandling" name="detail" element="q9:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_GetChargeTemplates_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/Kerry.FMS.Model.ExceptionHandling" name="detail" element="q10:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_GetOtherChargeTemplates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOtherChargeTemplates" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_GetOtherChargeTemplates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOtherChargeTemplatesResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_GetOtherChargeTemplates_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/Kerry.FMS.Model.ExceptionHandling" name="detail" element="q11:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_GetOtherChargeTemplates_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/Kerry.FMS.Model.ExceptionHandling" name="detail" element="q12:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_LockJob_InputMessage">
    <wsdl:part name="parameters" element="tns:LockJob" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_LockJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:LockJobResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_LockJob_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q13="http://schemas.datacontract.org/2004/07/Kerry.FMS.Model.ExceptionHandling" name="detail" element="q13:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_UnlockJob_InputMessage">
    <wsdl:part name="parameters" element="tns:UnlockJob" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_UnlockJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnlockJobResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_UnlockJob_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q14="http://schemas.datacontract.org/2004/07/Kerry.FMS.Model.ExceptionHandling" name="detail" element="q14:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_AutoJobLock_InputMessage">
    <wsdl:part name="parameters" element="tns:AutoJobLock" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_AutoJobLock_OutputMessage">
    <wsdl:part name="parameters" element="tns:AutoJobLockResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_AutoJobLock_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q15="http://schemas.datacontract.org/2004/07/Kerry.FMS.Model.ExceptionHandling" name="detail" element="q15:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_AutoJobLock_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q16="http://schemas.datacontract.org/2004/07/Kerry.FMS.Model.ExceptionHandling" name="detail" element="q16:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_ReserveNumbers_InputMessage">
    <wsdl:part name="parameters" element="tns:ReserveNumbers" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_ReserveNumbers_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReserveNumbersResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_ReserveNumbers_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q17="http://schemas.datacontract.org/2004/07/Kerry.FMS.Model.ExceptionHandling" name="detail" element="q17:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_ReserveNumbers_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q18="http://schemas.datacontract.org/2004/07/Kerry.FMS.Model.ExceptionHandling" name="detail" element="q18:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_GetUserForLookup_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserForLookup" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_GetUserForLookup_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserForLookupResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_GetDeptForLookup_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeptForLookup" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_GetDeptForLookup_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeptForLookupResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_GetStationForLookup_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStationForLookup" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_GetStationForLookup_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStationForLookupResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_BatchUpdateMilestone_InputMessage">
    <wsdl:part name="parameters" element="tns:BatchUpdateMilestone" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_BatchUpdateMilestone_OutputMessage">
    <wsdl:part name="parameters" element="tns:BatchUpdateMilestoneResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_BatchUpdateMilestone_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q19="http://schemas.datacontract.org/2004/07/Kerry.FMS.Model.ExceptionHandling" name="detail" element="q19:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_DownloadFile_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadFile" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_DownloadFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadFileResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_UploadFile_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadFile" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_UploadFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadFileResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_GetJobDoc_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJobDoc" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_GetJobDoc_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJobDocResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_GetJobDoc_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q20="http://schemas.datacontract.org/2004/07/Kerry.FMS.Model.ExceptionHandling" name="detail" element="q20:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_GetJobDoc_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q21="http://schemas.datacontract.org/2004/07/Kerry.FMS.Model.ExceptionHandling" name="detail" element="q21:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_SaveJobDoc_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveJobDoc" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_SaveJobDoc_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveJobDocResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_SaveJobDoc_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q22="http://schemas.datacontract.org/2004/07/Kerry.FMS.Model.ExceptionHandling" name="detail" element="q22:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_SendEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:SendEmail" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_SendEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendEmailResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_SendEmail_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q23="http://schemas.datacontract.org/2004/07/Kerry.FMS.Model.ExceptionHandling" name="detail" element="q23:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_SendEmail_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q24="http://schemas.datacontract.org/2004/07/Kerry.FMS.Model.ExceptionHandling" name="detail" element="q24:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_SendEmailByTemplate_InputMessage">
    <wsdl:part name="parameters" element="tns:SendEmailByTemplate" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_SendEmailByTemplate_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendEmailByTemplateResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_SendEmailByTemplate_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q25="http://schemas.datacontract.org/2004/07/Kerry.FMS.Model.ExceptionHandling" name="detail" element="q25:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_SendEmailByTemplate_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q26="http://schemas.datacontract.org/2004/07/Kerry.FMS.Model.ExceptionHandling" name="detail" element="q26:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_GeneratingNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:GeneratingNumber" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_GeneratingNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:GeneratingNumberResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_GeneratingNumber_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q27="http://schemas.datacontract.org/2004/07/Kerry.FMS.Model.ExceptionHandling" name="detail" element="q27:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_GeneratingNumber_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q28="http://schemas.datacontract.org/2004/07/Kerry.FMS.Model.ExceptionHandling" name="detail" element="q28:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_GeneratingNumberWithContext_InputMessage">
    <wsdl:part name="parameters" element="tns:GeneratingNumberWithContext" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_GeneratingNumberWithContext_OutputMessage">
    <wsdl:part name="parameters" element="tns:GeneratingNumberWithContextResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_GeneratingNumberWithContext_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q29="http://schemas.datacontract.org/2004/07/Kerry.FMS.Model.ExceptionHandling" name="detail" element="q29:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="ICommonOperationService_GeneratingNumberWithContext_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q30="http://schemas.datacontract.org/2004/07/Kerry.FMS.Model.ExceptionHandling" name="detail" element="q30:ValidationFault" />
  </wsdl:message>
  <wsdl:portType name="ICommonOperationService">
    <wsdl:operation name="GetDefaultMilestoneEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/IMilestoneOperationService/GetDefaultMilestoneEvents" message="tns:ICommonOperationService_GetDefaultMilestoneEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMilestoneOperationService/GetDefaultMilestoneEventsResponse" message="tns:ICommonOperationService_GetDefaultMilestoneEvents_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMilestoneOperationService/GetDefaultMilestoneEventsServiceFaultFault" name="ServiceFaultFault" message="tns:ICommonOperationService_GetDefaultMilestoneEvents_ServiceFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMilestoneOperationService/GetDefaultMilestoneEventsValidationFaultFault" name="ValidationFaultFault" message="tns:ICommonOperationService_GetDefaultMilestoneEvents_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAirportForLookup">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonOperationService/GetAirportForLookup" message="tns:ICommonOperationService_GetAirportForLookup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonOperationService/GetAirportForLookupResponse" message="tns:ICommonOperationService_GetAirportForLookup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAirlinesForLookup">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonOperationService/GetAirlinesForLookup" message="tns:ICommonOperationService_GetAirlinesForLookup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonOperationService/GetAirlinesForLookupResponse" message="tns:ICommonOperationService_GetAirlinesForLookup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPartyMasterForLookup">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonOperationService/GetPartyMasterForLookup" message="tns:ICommonOperationService_GetPartyMasterForLookup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonOperationService/GetPartyMasterForLookupResponse" message="tns:ICommonOperationService_GetPartyMasterForLookup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPartyMasterWithAddressForLookup">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonOperationService/GetPartyMasterWithAddressForLookup" message="tns:ICommonOperationService_GetPartyMasterWithAddressForLookup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonOperationService/GetPartyMasterWithAddressForLookupResponse" message="tns:ICommonOperationService_GetPartyMasterWithAddressForLookup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPartyMasterWarehouseLookup">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonOperationService/GetPartyMasterWarehouseLookup" message="tns:ICommonOperationService_GetPartyMasterWarehouseLookup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonOperationService/GetPartyMasterWarehouseLookupResponse" message="tns:ICommonOperationService_GetPartyMasterWarehouseLookup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SoftDeleteJob">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonOperationService/SoftDeleteJob" message="tns:ICommonOperationService_SoftDeleteJob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonOperationService/SoftDeleteJobResponse" message="tns:ICommonOperationService_SoftDeleteJob_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICommonOperationService/SoftDeleteJobServiceFaultFault" name="ServiceFaultFault" message="tns:ICommonOperationService_SoftDeleteJob_ServiceFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICommonOperationService/SoftDeleteJobValidationFaultFault" name="ValidationFaultFault" message="tns:ICommonOperationService_SoftDeleteJob_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteConsolOperation">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonOperationService/ExecuteConsolOperation" message="tns:ICommonOperationService_ExecuteConsolOperation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonOperationService/ExecuteConsolOperationResponse" message="tns:ICommonOperationService_ExecuteConsolOperation_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICommonOperationService/ExecuteConsolOperationValidationFaultFault" name="ValidationFaultFault" message="tns:ICommonOperationService_ExecuteConsolOperation_ValidationFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICommonOperationService/ExecuteConsolOperationServiceFaultFault" name="ServiceFaultFault" message="tns:ICommonOperationService_ExecuteConsolOperation_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJobEventOrEventGroups">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonOperationService/GetJobEventOrEventGroups" message="tns:ICommonOperationService_GetJobEventOrEventGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonOperationService/GetJobEventOrEventGroupsResponse" message="tns:ICommonOperationService_GetJobEventOrEventGroups_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICommonOperationService/GetJobEventOrEventGroupsValidationFaultFault" name="ValidationFaultFault" message="tns:ICommonOperationService_GetJobEventOrEventGroups_ValidationFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICommonOperationService/GetJobEventOrEventGroupsServiceFaultFault" name="ServiceFaultFault" message="tns:ICommonOperationService_GetJobEventOrEventGroups_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChargeTemplates">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonOperationService/GetChargeTemplates" message="tns:ICommonOperationService_GetChargeTemplates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonOperationService/GetChargeTemplatesResponse" message="tns:ICommonOperationService_GetChargeTemplates_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICommonOperationService/GetChargeTemplatesServiceFaultFault" name="ServiceFaultFault" message="tns:ICommonOperationService_GetChargeTemplates_ServiceFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICommonOperationService/GetChargeTemplatesValidationFaultFault" name="ValidationFaultFault" message="tns:ICommonOperationService_GetChargeTemplates_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOtherChargeTemplates">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonOperationService/GetOtherChargeTemplates" message="tns:ICommonOperationService_GetOtherChargeTemplates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonOperationService/GetOtherChargeTemplatesResponse" message="tns:ICommonOperationService_GetOtherChargeTemplates_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICommonOperationService/GetOtherChargeTemplatesServiceFaultFault" name="ServiceFaultFault" message="tns:ICommonOperationService_GetOtherChargeTemplates_ServiceFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICommonOperationService/GetOtherChargeTemplatesValidationFaultFault" name="ValidationFaultFault" message="tns:ICommonOperationService_GetOtherChargeTemplates_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="LockJob">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonOperationService/LockJob" message="tns:ICommonOperationService_LockJob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonOperationService/LockJobResponse" message="tns:ICommonOperationService_LockJob_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICommonOperationService/LockJobServiceFaultFault" name="ServiceFaultFault" message="tns:ICommonOperationService_LockJob_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnlockJob">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonOperationService/UnlockJob" message="tns:ICommonOperationService_UnlockJob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonOperationService/UnlockJobResponse" message="tns:ICommonOperationService_UnlockJob_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICommonOperationService/UnlockJobServiceFaultFault" name="ServiceFaultFault" message="tns:ICommonOperationService_UnlockJob_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AutoJobLock">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonOperationService/AutoJobLock" message="tns:ICommonOperationService_AutoJobLock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonOperationService/AutoJobLockResponse" message="tns:ICommonOperationService_AutoJobLock_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICommonOperationService/AutoJobLockServiceFaultFault" name="ServiceFaultFault" message="tns:ICommonOperationService_AutoJobLock_ServiceFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICommonOperationService/AutoJobLockValidationFaultFault" name="ValidationFaultFault" message="tns:ICommonOperationService_AutoJobLock_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReserveNumbers">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonOperationService/ReserveNumbers" message="tns:ICommonOperationService_ReserveNumbers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonOperationService/ReserveNumbersResponse" message="tns:ICommonOperationService_ReserveNumbers_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICommonOperationService/ReserveNumbersValidationFaultFault" name="ValidationFaultFault" message="tns:ICommonOperationService_ReserveNumbers_ValidationFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICommonOperationService/ReserveNumbersServiceFaultFault" name="ServiceFaultFault" message="tns:ICommonOperationService_ReserveNumbers_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserForLookup">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonOperationService/GetUserForLookup" message="tns:ICommonOperationService_GetUserForLookup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonOperationService/GetUserForLookupResponse" message="tns:ICommonOperationService_GetUserForLookup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeptForLookup">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonOperationService/GetDeptForLookup" message="tns:ICommonOperationService_GetDeptForLookup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonOperationService/GetDeptForLookupResponse" message="tns:ICommonOperationService_GetDeptForLookup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStationForLookup">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonOperationService/GetStationForLookup" message="tns:ICommonOperationService_GetStationForLookup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonOperationService/GetStationForLookupResponse" message="tns:ICommonOperationService_GetStationForLookup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BatchUpdateMilestone">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonOperationService/BatchUpdateMilestone" message="tns:ICommonOperationService_BatchUpdateMilestone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonOperationService/BatchUpdateMilestoneResponse" message="tns:ICommonOperationService_BatchUpdateMilestone_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICommonOperationService/BatchUpdateMilestoneServiceFaultFault" name="ServiceFaultFault" message="tns:ICommonOperationService_BatchUpdateMilestone_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonOperationService/DownloadFile" message="tns:ICommonOperationService_DownloadFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonOperationService/DownloadFileResponse" message="tns:ICommonOperationService_DownloadFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonOperationService/UploadFile" message="tns:ICommonOperationService_UploadFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonOperationService/UploadFileResponse" message="tns:ICommonOperationService_UploadFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJobDoc">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonOperationService/GetJobDoc" message="tns:ICommonOperationService_GetJobDoc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonOperationService/GetJobDocResponse" message="tns:ICommonOperationService_GetJobDoc_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICommonOperationService/GetJobDocServiceFaultFault" name="ServiceFaultFault" message="tns:ICommonOperationService_GetJobDoc_ServiceFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICommonOperationService/GetJobDocValidationFaultFault" name="ValidationFaultFault" message="tns:ICommonOperationService_GetJobDoc_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveJobDoc">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonOperationService/SaveJobDoc" message="tns:ICommonOperationService_SaveJobDoc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonOperationService/SaveJobDocResponse" message="tns:ICommonOperationService_SaveJobDoc_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICommonOperationService/SaveJobDocServiceFaultFault" name="ServiceFaultFault" message="tns:ICommonOperationService_SaveJobDoc_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonOperationService/SendEmail" message="tns:ICommonOperationService_SendEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonOperationService/SendEmailResponse" message="tns:ICommonOperationService_SendEmail_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICommonOperationService/SendEmailValidationFaultFault" name="ValidationFaultFault" message="tns:ICommonOperationService_SendEmail_ValidationFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICommonOperationService/SendEmailServiceFaultFault" name="ServiceFaultFault" message="tns:ICommonOperationService_SendEmail_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendEmailByTemplate">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonOperationService/SendEmailByTemplate" message="tns:ICommonOperationService_SendEmailByTemplate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonOperationService/SendEmailByTemplateResponse" message="tns:ICommonOperationService_SendEmailByTemplate_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICommonOperationService/SendEmailByTemplateServiceFaultFault" name="ServiceFaultFault" message="tns:ICommonOperationService_SendEmailByTemplate_ServiceFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICommonOperationService/SendEmailByTemplateValidationFaultFault" name="ValidationFaultFault" message="tns:ICommonOperationService_SendEmailByTemplate_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GeneratingNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonOperationService/GeneratingNumber" message="tns:ICommonOperationService_GeneratingNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonOperationService/GeneratingNumberResponse" message="tns:ICommonOperationService_GeneratingNumber_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICommonOperationService/GeneratingNumberServiceFaultFault" name="ServiceFaultFault" message="tns:ICommonOperationService_GeneratingNumber_ServiceFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICommonOperationService/GeneratingNumberValidationFaultFault" name="ValidationFaultFault" message="tns:ICommonOperationService_GeneratingNumber_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GeneratingNumberWithContext">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonOperationService/GeneratingNumberWithContext" message="tns:ICommonOperationService_GeneratingNumberWithContext_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonOperationService/GeneratingNumberWithContextResponse" message="tns:ICommonOperationService_GeneratingNumberWithContext_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICommonOperationService/GeneratingNumberWithContextServiceFaultFault" name="ServiceFaultFault" message="tns:ICommonOperationService_GeneratingNumberWithContext_ServiceFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICommonOperationService/GeneratingNumberWithContextValidationFaultFault" name="ValidationFaultFault" message="tns:ICommonOperationService_GeneratingNumberWithContext_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_ICommonOperationService" type="tns:ICommonOperationService">
    <wsp:PolicyReference URI="#WSHttpBinding_ICommonOperationService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDefaultMilestoneEvents">
      <soap12:operation soapAction="http://tempuri.org/IMilestoneOperationService/GetDefaultMilestoneEvents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAirportForLookup">
      <soap12:operation soapAction="http://tempuri.org/ICommonOperationService/GetAirportForLookup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAirlinesForLookup">
      <soap12:operation soapAction="http://tempuri.org/ICommonOperationService/GetAirlinesForLookup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPartyMasterForLookup">
      <soap12:operation soapAction="http://tempuri.org/ICommonOperationService/GetPartyMasterForLookup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPartyMasterWithAddressForLookup">
      <soap12:operation soapAction="http://tempuri.org/ICommonOperationService/GetPartyMasterWithAddressForLookup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPartyMasterWarehouseLookup">
      <soap12:operation soapAction="http://tempuri.org/ICommonOperationService/GetPartyMasterWarehouseLookup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoftDeleteJob">
      <soap12:operation soapAction="http://tempuri.org/ICommonOperationService/SoftDeleteJob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ExecuteConsolOperation">
      <soap12:operation soapAction="http://tempuri.org/ICommonOperationService/ExecuteConsolOperation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetJobEventOrEventGroups">
      <soap12:operation soapAction="http://tempuri.org/ICommonOperationService/GetJobEventOrEventGroups" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetChargeTemplates">
      <soap12:operation soapAction="http://tempuri.org/ICommonOperationService/GetChargeTemplates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetOtherChargeTemplates">
      <soap12:operation soapAction="http://tempuri.org/ICommonOperationService/GetOtherChargeTemplates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="LockJob">
      <soap12:operation soapAction="http://tempuri.org/ICommonOperationService/LockJob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UnlockJob">
      <soap12:operation soapAction="http://tempuri.org/ICommonOperationService/UnlockJob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AutoJobLock">
      <soap12:operation soapAction="http://tempuri.org/ICommonOperationService/AutoJobLock" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ReserveNumbers">
      <soap12:operation soapAction="http://tempuri.org/ICommonOperationService/ReserveNumbers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUserForLookup">
      <soap12:operation soapAction="http://tempuri.org/ICommonOperationService/GetUserForLookup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeptForLookup">
      <soap12:operation soapAction="http://tempuri.org/ICommonOperationService/GetDeptForLookup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStationForLookup">
      <soap12:operation soapAction="http://tempuri.org/ICommonOperationService/GetStationForLookup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BatchUpdateMilestone">
      <soap12:operation soapAction="http://tempuri.org/ICommonOperationService/BatchUpdateMilestone" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <soap12:operation soapAction="http://tempuri.org/ICommonOperationService/DownloadFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap12:operation soapAction="http://tempuri.org/ICommonOperationService/UploadFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJobDoc">
      <soap12:operation soapAction="http://tempuri.org/ICommonOperationService/GetJobDoc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveJobDoc">
      <soap12:operation soapAction="http://tempuri.org/ICommonOperationService/SaveJobDoc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <soap12:operation soapAction="http://tempuri.org/ICommonOperationService/SendEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SendEmailByTemplate">
      <soap12:operation soapAction="http://tempuri.org/ICommonOperationService/SendEmailByTemplate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GeneratingNumber">
      <soap12:operation soapAction="http://tempuri.org/ICommonOperationService/GeneratingNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GeneratingNumberWithContext">
      <soap12:operation soapAction="http://tempuri.org/ICommonOperationService/GeneratingNumberWithContext" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CustomBinding_ICommonOperationService" type="tns:ICommonOperationService">
    <wsp:PolicyReference URI="#CustomBinding_ICommonOperationService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDefaultMilestoneEvents">
      <soap12:operation soapAction="http://tempuri.org/IMilestoneOperationService/GetDefaultMilestoneEvents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAirportForLookup">
      <soap12:operation soapAction="http://tempuri.org/ICommonOperationService/GetAirportForLookup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAirlinesForLookup">
      <soap12:operation soapAction="http://tempuri.org/ICommonOperationService/GetAirlinesForLookup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPartyMasterForLookup">
      <soap12:operation soapAction="http://tempuri.org/ICommonOperationService/GetPartyMasterForLookup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPartyMasterWithAddressForLookup">
      <soap12:operation soapAction="http://tempuri.org/ICommonOperationService/GetPartyMasterWithAddressForLookup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPartyMasterWarehouseLookup">
      <soap12:operation soapAction="http://tempuri.org/ICommonOperationService/GetPartyMasterWarehouseLookup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoftDeleteJob">
      <soap12:operation soapAction="http://tempuri.org/ICommonOperationService/SoftDeleteJob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ExecuteConsolOperation">
      <soap12:operation soapAction="http://tempuri.org/ICommonOperationService/ExecuteConsolOperation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetJobEventOrEventGroups">
      <soap12:operation soapAction="http://tempuri.org/ICommonOperationService/GetJobEventOrEventGroups" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetChargeTemplates">
      <soap12:operation soapAction="http://tempuri.org/ICommonOperationService/GetChargeTemplates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetOtherChargeTemplates">
      <soap12:operation soapAction="http://tempuri.org/ICommonOperationService/GetOtherChargeTemplates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="LockJob">
      <soap12:operation soapAction="http://tempuri.org/ICommonOperationService/LockJob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UnlockJob">
      <soap12:operation soapAction="http://tempuri.org/ICommonOperationService/UnlockJob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AutoJobLock">
      <soap12:operation soapAction="http://tempuri.org/ICommonOperationService/AutoJobLock" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ReserveNumbers">
      <soap12:operation soapAction="http://tempuri.org/ICommonOperationService/ReserveNumbers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUserForLookup">
      <soap12:operation soapAction="http://tempuri.org/ICommonOperationService/GetUserForLookup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeptForLookup">
      <soap12:operation soapAction="http://tempuri.org/ICommonOperationService/GetDeptForLookup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStationForLookup">
      <soap12:operation soapAction="http://tempuri.org/ICommonOperationService/GetStationForLookup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BatchUpdateMilestone">
      <soap12:operation soapAction="http://tempuri.org/ICommonOperationService/BatchUpdateMilestone" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <soap12:operation soapAction="http://tempuri.org/ICommonOperationService/DownloadFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap12:operation soapAction="http://tempuri.org/ICommonOperationService/UploadFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJobDoc">
      <soap12:operation soapAction="http://tempuri.org/ICommonOperationService/GetJobDoc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveJobDoc">
      <soap12:operation soapAction="http://tempuri.org/ICommonOperationService/SaveJobDoc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <soap12:operation soapAction="http://tempuri.org/ICommonOperationService/SendEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SendEmailByTemplate">
      <soap12:operation soapAction="http://tempuri.org/ICommonOperationService/SendEmailByTemplate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GeneratingNumber">
      <soap12:operation soapAction="http://tempuri.org/ICommonOperationService/GeneratingNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GeneratingNumberWithContext">
      <soap12:operation soapAction="http://tempuri.org/ICommonOperationService/GeneratingNumberWithContext" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CommonOperationService">
    <wsdl:port name="WSHttpBinding_ICommonOperationService" binding="tns:WSHttpBinding_ICommonOperationService">
      <soap12:address location="http://localhost:22107/v1/Common/CommonOperationService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:22107/v1/Common/CommonOperationService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="CustomBinding_ICommonOperationService" binding="tns:CustomBinding_ICommonOperationService">
      <soap12:address location="http://localhost:22107/v1/Common/CommonOperationService.svc/bin" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:22107/v1/Common/CommonOperationService.svc/bin</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>