Kerry.KSYS.Scheduler_BK/Connected Services/JOBLINKsOperationService/JOBLINKsOperation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="JOBLINKsOperation" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59228/Operation/JOBLINKsOperation.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59228/Operation/JOBLINKsOperation.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59228/Operation/JOBLINKsOperation.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Kerry.KSYS.Service.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IJOBLINKsOperation_AddByModel_InputMessage">
    <wsdl:part name="parameters" element="tns:AddByModel" />
  </wsdl:message>
  <wsdl:message name="IJOBLINKsOperation_AddByModel_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddByModelResponse" />
  </wsdl:message>
  <wsdl:message name="IJOBLINKsOperation_Supplyment_InputMessage">
    <wsdl:part name="parameters" element="tns:Supplyment" />
  </wsdl:message>
  <wsdl:message name="IJOBLINKsOperation_Supplyment_OutputMessage">
    <wsdl:part name="parameters" element="tns:SupplymentResponse" />
  </wsdl:message>
  <wsdl:portType name="IJOBLINKsOperation">
    <wsdl:operation name="AddByModel">
      <wsdl:input wsaw:Action="http://tempuri.org/IJOBLINKsOperation/AddByModel" message="tns:IJOBLINKsOperation_AddByModel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJOBLINKsOperation/AddByModelResponse" message="tns:IJOBLINKsOperation_AddByModel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Supplyment">
      <wsdl:input wsaw:Action="http://tempuri.org/IJOBLINKsOperation/Supplyment" message="tns:IJOBLINKsOperation_Supplyment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJOBLINKsOperation/SupplymentResponse" message="tns:IJOBLINKsOperation_Supplyment_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IJOBLINKsOperation" type="tns:IJOBLINKsOperation">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddByModel">
      <soap:operation soapAction="http://tempuri.org/IJOBLINKsOperation/AddByModel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Supplyment">
      <soap:operation soapAction="http://tempuri.org/IJOBLINKsOperation/Supplyment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JOBLINKsOperation">
    <wsdl:port name="BasicHttpBinding_IJOBLINKsOperation" binding="tns:BasicHttpBinding_IJOBLINKsOperation">
      <soap:address location="http://localhost:59228/Operation/JOBLINKsOperation.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>