Kerry.KSYS.Scheduler.Test/Connected Services/ServiceReference2/JOBLINKsOperation2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Kerry.KSYS.Service.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Kerry.KSYS.Service.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfJOBLINKsModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JOBLINKsModel" nillable="true" type="tns:JOBLINKsModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJOBLINKsModel" nillable="true" type="tns:ArrayOfJOBLINKsModel" />
  <xs:complexType name="JOBLINKsModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="SourceUnid" type="xs:long" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Unid" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JOBLINKsModel" nillable="true" type="tns:JOBLINKsModel" />
</xs:schema>